canvas {
	padding-left: 0;
	padding-right: 0;
	border: 1px solid grey;
}

body {
	background-color: rgb(20, 20, 20);
	margin: 0;
}

a {
	color: white;
}

a:hover {
	color: yellow;
}

.subheader {
	color: white;
	user-select: none;
	font-family: "Arial";
}

.column-left {
	float: left;
	width: 33.333%;
	text-align: left;
}

.column-center {
	display: inline-block;
	width: 33.333%;
	text-align: center;
}

.column-right {
	float: right;
	width: 33.333%;
	text-align: right;
}

.title {
	text-align: center;
	font-family: "Arial";
	color: white;
	user-select: none;
}

.wrapper {
	font-size: 0;
	/* get rid of extra spacing due to font-size */
	padding-top: 10px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
		rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

#titleWrapper {
	font-size: initial;
	padding-bottom: 5px;
}

#menuWrapper {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-bottom: 3px;
	margin-bottom: 2px;
	background-color: rgb(60, 60, 60);
	overflow: auto;
	font-family: "Arial";
	font-size: 14px;
	user-select: none;
	position: relative;
	color: yellow;
	width: inherit;
}

#sideWrapper {
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-left: 4px;
	padding-right: 3px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	background-color: rgb(60, 60, 60);
	overflow: auto;
	font-family: "Arial";
	font-size: 12px;
	user-select: none;
	position: relative;
	color: yellow;
	width: inherit;
	height: auto;
}

#elementTable {
	border-collapse: collapse;
	float: left;
}

#elementTableE {
	border-collapse: collapse;
	float: left;
}

#elementTableEx {
	border-collapse: collapse;
	float: left;
}

#elementTableU {
	
	border-collapse: collapse;
	float: left;
}

#elementTableO {
	border-collapse: collapse;
	float: left;
	
}

.elementMenuButton {
	border-collapse: collapse;
	background: none;
	border: none;
	text-align: left;
	user-select: none;
	font-size: 12px;
	width: -1%;
	height: 100%;
}

.elementMenuButton:hover {
	background-color: rgb(10, 10, 10);
	color: white !important;
}

.elementMenuButton:active {
	background-color: rgb(100, 100, 100);
	color: white !important;
}

.selectedElementMenuButton {
	outline: 1px solid white;
}

.optionsCol {
	float: left;
}

.overwriteCol {
	font-size: 14px;
}

.penSizeAmount {
	width: 34px;
	font-size: 10px;
}

.spigotType {
	width: 60px;
	font-size: 10px;
}

.spigotAmount {
	width: 30px;
	font-size: 10px;
}

.portaspigotType {
	width: 94px;
	font-size: 10px;
}

#speedSliderDiv {
	margin-top: 4px;
	margin-bottom: 8px;
}

#speedSlider {
	width: 60px;
	height: 10px;
	border-radius: 5px;
	background-image: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(0, 128, 0, 0.8));
	outline: none;
	-webkit-appearance: none;
}

#optionsCol2 {
	padding-left: 4px;
}

#fps-counter {
	position: absolute;
	bottom: 1px;
	right: 1px;
}

.optionButton {
	font-size: inherit;
	font-family: inherit;
	user-select: none;
	border: none;
	outline: none;
}

.optionButtonContainer {
	margin-top: 4px;
	font-size: 12px;
}

.noteContainer {
	margin-top: 2px;
	line-height: 50%;
	font-size: 8px;
}

#clearButton:hover {
	background-color: rgb(255, 0, 0);
}

#clearButton:active {
	background-color: rgb(123, 0, 0);
}

#saveButton:hover {
	background-color: rgb(0, 255, 0);
}

#saveButton:active {
	background-color: rgb(0, 123, 0);
}

#loadButton:hover {
	background-color: rgb(255, 255, 0);
}

#loadButton:active {
	background-color: rgb(123, 123, 0);
}

#penSizeDiv {
	margin-bottom: 2px;
}
